# Planilhas SFMSP

**Problema:** Estrair os dados de arquivos PDF. O arquivo é dividido em duas partes:
- Cabeçalho: Dados pessoal do servidor
- Tabela: Dados de insalubridade mensal divido em duas partes:
  - Valor Recebido: INSAL. %, VALOR, 6ª PTE, FÉRIAS, Q. DIAS  
  - Valor Devido: V. INSAL., 6ªPTE, FÉRIAS, A RECEB.

## Bibliotecas

In [376]:
import os
import re
import tabula
import fitz as fz
from random import random

## Código

### Diretórios

In [377]:
BASE_DIR = os.getcwd()
DATA_DIR = f'{BASE_DIR}\\data'
DATA_FILES = os.listdir(DATA_DIR)
total_itens = len(DATA_FILES)

### Ler conteúdo do arquivo

In [378]:
def ler_dados(DATA_FILE):
        with fz.open(f'{DATA_DIR}\\{DATA_FILE}') as file:
                context = ''
                for page in file:
                        context += page.get_text()
        return context

In [383]:
def extrai_tabela(file,cpf,id):
    pg1,pg2 = tabula.read_pdf_with_template(f'{DATA_DIR}\\{file}',template_path=f'{BASE_DIR}\\tabula2.json')
    if pg1['Unnamed: 0'].isna().count() == len(pg1['Unnamed: 0']) and len(pg1.columns) == 13:
        del pg1['Unnamed: 0']
    colunas1 = ['MÊS', 'Unnamed: 0', 'Unnamed: 1', 'INSAL. %', 'VALOR', '6a PTE','FÉRIAS', 'Q. DIAS', 'B-01', 'V. INSAL.', '6aPTE', 'FÉRIAS.1','A RECEB.']
    colunas2 = ['MÊS', 'Unnamed: 1', 'INSAL. %', 'VALOR', '6a PTE','FÉRIAS', 'Q. DIAS', 'B-01', 'V. INSAL.', '6aPTE', 'FÉRIAS.1','A RECEB.']
    pg2.columns = colunas2
    pg1.set_index('MÊS', inplace = True)
    pg2.set_index('MÊS', inplace = True)
    pg = pg1.append(pg2)
    pg['CPF'] = cpf
    pg['ID'] = id
    return pg

### Extrair informações do cabeçalho

In [384]:
def extrai_cabecalho(context,id,file):
    #print(context)
    info_data = context
    nome = info_data[:info_data.find("RF:")].replace('NOME:','').strip()
    info_data = info_data[info_data.find("RF:"):]
    #print(nome)
    rf = (';').join(info_data[:info_data.find("CPF:")].replace('RF:','').strip().split('/'))
    info_data = info_data[info_data.find("CPF:"):]
    #print(rf)
    cpf = info_data[:info_data.find("Data Nascto.:")].replace('CPF:','').replace(' ','').replace('.','').replace('-','').strip()
    info_data = info_data[info_data.find("Data Nascto.:"):]
    #print(cpf)
    nascimento = info_data[:info_data.find("Proc. Jud. S/nº")].replace('Data Nascto.:','').strip()
    info_data = info_data[info_data.find("Proc. Jud. S/nº"):]
    #print(nascimento)
    judicial = info_data[:info_data.find("P.SEI.")].replace('Proc. Jud. S/nº','').strip()
    info_data = info_data[info_data.find("P.SEI."):]
    #print(judicial)
    sei = info_data[:info_data.find("Demonstrativos dos valores")].replace('P.SEI.','').strip()
    info_data = info_data[info_data.find("Demonstrativos dos valores"):]
    #print(sei)
    obs2 = info_data[:info_data.find("Período:")].replace('\n',' ').strip()
    info_data = info_data[info_data.find("Período:"):]
    #print(obs2)
    periodo = (';').join(info_data[:info_data.find("Situação funcional")].replace('Período:',' ').replace(' ','').strip().split('a'))
    info_data = info_data[info_data.find("Situação funcional"):]
    #print(periodo)
    situacao = info_data[:info_data.find("Obs:")].replace('Situação funcional','').replace(':','').replace(' ','').strip()
    info_data = info_data[info_data.find("Obs:"):]
    #print(situacao)
    obs = info_data[:info_data.find("\n")].replace('Obs:','').replace('\n',' ')
    info_data = info_data[info_data.find("\n"):]
    info_tabela = info_data
    #print(obs)
    info_data = f'{id};{nome};{rf};{cpf};{nascimento};{judicial};{sei};{periodo};{situacao};{obs2};{obs}'.replace('\n',' ')
    info_data = f'{info_data};\n'
    #print(tabela)
    tabela = extrai_tabela(file,cpf,id)
    print(nome)
    return info_data, tabela

### Salva arquivos

In [385]:
def save_file(SAVE_DIR,CONTEXT,NAME_FILE,FORMAT='txt'):
        '''
                Cria um arquivo com o conteúdo e salva na pasta.
                        SAVE_DIR  : Diretório para salvar o conteúdo
                        CONTEXT   : Conteúdo a ser salvo
                        NAME_FILE : Nome do arquivo para ser salvo
                        FORMAT    : Formato do arquivo final
        '''

        with open(f"{SAVE_DIR}\\{NAME_FILE}.{FORMAT}","a",encoding='utf-8') as output_file:
                output_file.write(CONTEXT)
        
        return f"{SAVE_DIR}\\{NAME_FILE}.{FORMAT}"

### Arquivo final

In [386]:
i = 0
CABECALHO = 'ID;NOME;RF;VINCULO;CPF;DATA_NASCIMENTO;PROCESSO_JUDICIAL;PROCESSO_SEI;PERIODO_INICIAL;PERIODO_FINAL;SITUACAO_FUNCIONAL;DESCRICAO;OBS\n'
save_file(BASE_DIR,CABECALHO,"servidores","csv")
for file in DATA_FILES:
    i += 1
    CONTEUDO = ler_dados(file)
    CABECALHO,TABELA = extrai_cabecalho(CONTEUDO,i,file)
    save_file(BASE_DIR,CABECALHO,"servidores","csv")
    print(i)

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ADENILSON SOUZA COSTA
1

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ADEVAIR PEREIRA DA SILVA
2

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ALBECI SOARES MENDES
3

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ALFREDO PARDINI NETO
4

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ALOISIO OLINTHO DE O.ROCHA
5

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ANDERSON LIMA DOS S.FERREIRA
6

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ANTONIO CARLOS DA ROSA
7

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ANTONIO CARLOS DA SILVA
8

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ANTONIO CARLOS DIAS LIMA
9

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ANTONIO RAFAEL DE MIRANDA
10

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ANTONIO SANTOS DOS ANJOS
11

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

APARECIDO RODRIGUES ALVES
12

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ARLINDO RODRIGUES ALVES
13

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

BENEDITO DO ESPIRITO SANTO
14

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CARLOS ALBERTO GONÇALVES
15

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CARLOS EDUARDO CUSTODIO
16

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CARLOS LUIS DOS SANTOS BARRETO
17

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CARLOS ROBERTO DE OLIVEIRA
18

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CELSO ONORIO
19

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CICERO MAGAYVER MARTINS COSTA
20

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CICERO PAULO DOS SANTOS
21

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CLAUDIO DA SILVA ESPIRITO SANTO
22

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CLAUDIO INACIO BISPO
23

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CLAUDIO KOHUT
24

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CLAUDIO MAGALHAES SOARES
25

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CLEBER LUIS AIELLO
26

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CLECIO BERNARDO ALAMINO
27

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CONSTANTINO GONÇALVES S NETO
28

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

CREZIO AZEVEDO GALDINO
29

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

DANIEL CALISTO DOS SANTOS
30

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

DANIEL DE SOUZA
31

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

DANIEL MARTINS DE OLIVEIRA
32

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

DENIVALDO LOPES DA SILVA
33

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

DOUGLAS DE OLIVEIRA DA SILVA
34

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

DOUGLAS PAIVA BOROMELO
35

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

EDIVALDO DA COSTA
36

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

EDMILSON BATISTA DE MORAIS
37

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

EDMILSON GOMES DA SILVA
38

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

EDSON BENEDITO GOMES
39

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

EDSON DIAS DE OLIVEIRA
40

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

EDSON FRANCISCO BARBOSA
41

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

EDUARDO COSTA AQUINO
42

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ELCIO MARTINS COSTA
43

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ELIAS MARQUES
44

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ELIAS ROBERTO
45

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ERIC PINTO SILVA
46

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ERICK KLEIN HESSEL ALVES
47

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

EXPEDITO FROTA F FILHO
48

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

FLAVIO APARECIDO PIROLA
49

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

FRANCISCO DE ASSIS FERREIRA
50

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

FRANCISCO FIRMO TELES
51

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

GERALDO JOSE DE MOURA
52

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

GERALDO TEODORO DA SILVA
53

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

GERSON MARLON FRESCHI
54

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

GERVASIO DO CARMO SILVA
55

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

GILBERTO PEREIRA DE OLIVEIRA
56

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

GIVALDO DE LIMA CARNEIRO
57

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

HAMILTON FRANCISCO DO AMARAL
58

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

HELIO ROCUMBACK DE LIMA
59

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

HENRIQUE GOUVEA DE SOUZA FELIX
60

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

HUDSON MARQUES SOARES
61

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ISAC ALENCAR REIS
62

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

IVAN RODRIGUES BARBOSA
63

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JAIME LOPES SILVA
64

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JAIRO FILOGONIO R MIRANDA
65

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JAMES ALAN GOMES DA SILVA
66

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JEAN FELICIANO DA SILVA
67

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JESUALDO HENRIQUE DOURADO
68

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOAO ALBERTO PESSOA FERREIRA
69

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOAO CARLOS AGOSTON
70

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOHNNY LUIS ARAUJO
71

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE ALFREDO BUENO
72

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE ALVES DA FONSECA
73

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE APARECIDO ZAGO
74

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE ARAUJO DA SILVA
75

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE AUGUSTO MENEZES
76

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE CARLOS DE OLIVEIRA
77

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE CARLOS DOS SANTOS SILVA
78

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE CARLOS LAURENTINO
79

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE DE OLIVEIRA FRANCISCO
80

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE EDSON DA SILVA
81

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE FELIPE RIBEIRO
82

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE FRANCISCO ALVES
83

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE LUIZ DE MENESES
84

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE LUIZ RIBEIRO
85

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE MARIA DA SILVA
86

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSE SILVA DE MELO
87

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

JOSUE AZEVEDO DA SILVA
88

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

LAERCIO FELICIANO BUENO
89

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

LEANDRO DIAS DE CAMARGO
90

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

LUCIANO PEREIRA PALMIERI
91

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

LUCIANO TERESIN
92

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

LUIS CLAUDIO MIGLIORANCI
93

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

LUIS DIOGENES M DE OLIVEIRA
94

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

LUIZ ANTONIO RASQUINHO
95

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

LUIZ FABIANO PEREIRA GOMES
96

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

MANOEL MINERVINO
97

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

MANOEL NORBERTO PEREIRA
98

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

MANOEL PEREIRA NOVAES
99

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

MARCELO DE CASTRO SANTOS
100

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

MARCO ANTONIO DOS SANTOS
101

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

MARIA DE FATIMA RIBEIRO SANTOS
102

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

MARIO APARECIDO C.DA SILVA
103

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

MIGUEL RODRIGUES VIEIRA
104

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

MILTON CESAR ROCHA DA SILVA
105

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

MIZAEL FRANCISCO DA SILVA
106

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

NELIO DA CONCEIÇÃO ALVES
107

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

NELSON INACIO PINTO JUNIOR
108

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

NICOMEDES SILVA MARTINS
109

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

OLDAIR ANDRADE MENEZES
110

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

OSNI DE OLIVEIRA BALBINO
111

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

OSWALDO DA ROCHA
112

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

PAULO DONIZETE DA SILVA
113

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

PAULO FILOMENO DE LIMA
114

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

PEDRO ALVES DE AGUIAR
115

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

PEDRO PEREIRA
116

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

RAUL JOSÉ DA SILVA
117

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

REGINALDO DE OLIVEIRA
118

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

REGINALDO LUZ PEDRO
119

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

RENATO DIAMANTINO SARDINHA
120

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

RICARDO MONCHUI
121

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

RICARDO PEREIRA COUTINHO
122

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ROBERTO BETINELI
123

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ROBERTO CORSO
124

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ROBSON DA SILVA
125

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

RODE DE MELO LOPES
126

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

ROGERIO ARRUDA
127

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

RUBENS FREITAS DOS SANTOS
128

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

SALVADOR GUARRIERO NETO
129

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

SAMUEL SILVEIRA
130

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

SAMUEL PEREIRA DE OLIVEIRA
131

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

SEBASTIAO EURIPEDES OLIVEIRA
132

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

SEBASTIÃO DE SOUZA APARECIDO
133

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

SERGIO ROBERTO M. NASCIMENTO
134

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

SETE PEREIRA DE OLIVEIRA
135

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

SIBELE LEISE ANTONIO GARCIA
136

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

SULIVAN APARECIDO LEITE SANTOS
137

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

TABAJARA DOS SANTOS
138

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

VALDEMIR TEODORO DA SILVA
139

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

VALDENOR PASTEGA
140

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

VANDERLEI ALVES DA SILVA
141

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

WALMIR CARDOMINGO
142

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

WILKER COSTA PAES
143
WILLIAN ALVARENGA DE SOUZA
144

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\3355230442.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg = pg1.append(pg2)

In [401]:
file_test = f'{DATA_DIR}\\{DATA_FILES[0]}'

In [402]:
import tabula
cpf = '12345678910'
id = '1'

In [403]:
colunas = ['MÊS', 'Unnamed: 0', 'Unnamed: 1', 'INSAL. %', 'VALOR', '6a PTE','FÉRIAS', 'Q. DIAS', 'B-01', 'V. INSAL.', '6aPTE', 'FÉRIAS.1','A RECEB.']
colunas2 = ['MÊS', 'Unnamed: 1', 'INSAL. %', 'VALOR', '6a PTE','FÉRIAS', 'Q. DIAS', 'B-01', 'V. INSAL.', '6aPTE', 'FÉRIAS.1','A RECEB.']

In [416]:
pg1,pg2 = tabula.read_pdf_with_template(file_test,template_path=f'{BASE_DIR}\\tabula2.json')
#pg1['CPF'] = cpf
#pg1['ID'] = id
#pg2['CPF'] = cpf
#pg2['ID'] = id

In [423]:
len(pg2)

26

In [424]:
pg2.append(pg2.columns))

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\1460474564.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg2.append(pg2.columns.values)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [392]:
pg1.columns

Index(['MÊS', 'Unnamed: 0', 'Unnamed: 1', 'INSAL. %', 'VALOR', '6a PTE',
       'FÉRIAS', 'Q. DIAS', 'B-01', 'V. INSAL.', '6aPTE', 'FÉRIAS.1',
       'A RECEB.'],
      dtype='object')

In [393]:
pg1.set_index('MÊS', inplace = True)

In [394]:
pg1

,Unnamed: 0,Unnamed: 1,INSAL. %,VALOR,6a PTE,FÉRIAS,Q. DIAS,B-01,V. INSAL.,6aPTE,FÉRIAS.1,A RECEB.
MÊS,,,,,,,,,,,,
MÊS,NaN,NaN,INSAL. %,VALOR,6a PTE,FÉRIAS,Q. DIAS,B-01,V. INSAL.,6aPTE,FÉRIAS,A RECEB.
mai-12,NaN,0.0,40%,"46,54","0,00","0,00",NaN,"444,10","177,64","0,00","0,00","131,10"
jun-12,NaN,0.0,40%,"46,54","0,00","0,00",NaN,"444,10","177,64","0,00","0,00","131,10"
jul-12,NaN,0.0,40%,"46,54","0,00","0,00",NaN,"444,10","177,64","0,00","0,00","131,10"
ago-12,NaN,0.0,40%,"46,54","0,00","0,00",NaN,"444,10","177,64","0,00","0,00","131,10"
...,...,...,...,...,...,...,...,...,...,...,...,...
nov-16,NaN,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
dez-16,NaN,1.0,40%,"47,02","7,84","15,67",30,"755,15","302,06","50,34","100,69","382,56"
13o sal/16,NaN,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
jan-17,NaN,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
fev-17,NaN,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"

In [395]:
print(pg1['Unnamed: 0'].isna().count())
len(pg1['Unnamed: 0'])

64

64

In [396]:
del pg1['Unnamed: 0']

In [397]:
len(pg1.columns)

11

In [400]:
pg2.append(pg2.columns)

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\60473067.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg2.append(pg2.columns)

TypeError: cannot concatenate object of type '<class 'pandas.core.indexes.base.Index'>'; only Series and DataFrame objs are valid

In [353]:
pg2.head()

,mar-17,1,40%,"7,84","0,00",Unnamed: 0,"755,15","302,06","50,34","0,00.1","297,55",Unnamed: 1
0,abr-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
1,mai-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
2,jun-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
3,jul-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
4,ago-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"

In [354]:
len(pg2)

26

In [355]:
pg2.columns = colunas2

In [356]:
len(pg2.columns)

12

In [357]:
pg2.set_index('MÊS', inplace = True)

In [358]:
pg2.columns == pg1.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [359]:
pg3 = pg1.append(pg2)

C:\Users\vinicius.gomes\AppData\Local\Temp\ipykernel_9740\1099412048.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pg3 = pg1.append(pg2)

In [368]:
pg3.tail(60)

,Unnamed: 1,INSAL. %,VALOR,6a PTE,FÉRIAS,Q. DIAS,B-01,V. INSAL.,6aPTE,FÉRIAS.1,A RECEB.
MÊS,,,,,,,,,,,
ago-14,0.0,40%,"47,01","0,00","0,00",NaN,"755,07","302,03","0,00","0,00","255,02"
set-14,0.0,40%,"47,01","0,00","0,00",NaN,"755,07","302,03","0,00","0,00","255,02"
out-14,0.0,40%,"47,01","0,00","0,00",NaN,"755,07","302,03","0,00","0,00","255,02"
nov-14,0.0,40%,"47,01","0,00","0,00",NaN,"755,07","302,03","0,00","0,00","255,02"
dez-14,0.0,40%,"47,01","0,00","15,67",30,"755,07","302,03","0,00","100,68","340,02"
13o sal/14,0.0,40%,"47,01","0,00","0,00",NaN,"755,07","302,03","0,00","0,00","255,02"
jan-15,0.0,40%,"47,01","0,00","0,00",NaN,"755,07","302,03","0,00","0,00","255,02"
fev-15,0.0,40%,"47,01","0,00","0,00",NaN,"755,07","302,03","0,00","0,00","255,02"
mar-15,1.0,40%,"47,01","7,84","0,00",NaN,"755,07","302,03","50,34","0,00","297,52"
abr-15,1.0,40%,"47,01","7,84","0,00",NaN,"755,07","302,03","50,34","0,00","297,52"
mai-15,1.0,40%,"47,01","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,56"
jun-15,1.0,40%,"47,01","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,56"
jul-15,1.0,40%,"47,01","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,56"
ago-15,1.0,40%,"47,01","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,56"
set-15,1.0,40%,"47,01","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,56"
out-15,1.0,40%,"47,01","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,56"
nov-15,1.0,40%,"47,01","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,56"
dez-15,1.0,40%,"47,01","7,84","15,67",30,"755,15","302,06","50,34","100,69","382,58"
13o sal/15,1.0,40%,"47,01","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,56"
jan-16,1.0,40%,"47,01","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,56"
fev-16,1.0,40%,"47,01","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,56"
mar-16,1.0,40%,"47,01","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,56"
abr-16,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
mai-16,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
jun-16,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
jul-16,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
ago-16,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
set-16,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
out-16,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
nov-16,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
dez-16,1.0,40%,"47,02","7,84","15,67",30,"755,15","302,06","50,34","100,69","382,56"
13o sal/16,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
jan-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
fev-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
abr-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
mai-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
jun-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
jul-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
ago-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
set-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
out-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
nov-17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
dez-17,1.0,40%,"47,02","7,84","15,67",30.0,"755,15","302,06","50,34","100,69","382,56"
13o sal/17,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
jan-18,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
fev-18,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
mar-18,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
abr-18,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
mai-18,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
jun-18,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
jul-18,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
ago-18,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
set-18,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
out-18,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
nov-18,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
dez-18,1.0,40%,"47,02","7,84","15,67",30.0,"755,15","302,06","50,34","100,69","382,56"
13o sal/18,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
jan-19,1.0,40%,"47,02","7,84","0,00",NaN,"755,15","302,06","50,34","0,00","297,55"
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"23.553,57"
TOTAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"23.553,57"

In [327]:
pg3['CPF'] = cpf
pg3['ID'] = id

In [332]:
pg3.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63,  0,  1,  2,  3,
             4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
            21, 22, 23, 24, 25],
           dtype='int64')

In [370]:
def extrai_tabela(file,cpf,id):
    pg1,pg2 = tabula.read_pdf_with_template(f'{DATA_DIR}\\{file}',template_path=f'{BASE_DIR}\\tabula2.json')
    if pg1['Unnamed: 0'].isna().count() == len(pg1['Unnamed: 0']) and len(pg1.columns) == 13:
        del pg1['Unnamed: 0']
    pg1.set_index('MÊS', inplace = True)
    pg2.set_index('MÊS', inplace = True)
    pg = pg1.append(pg2)
    pg['CPF'] = cpf
    pg['ID'] = id
    return pg